* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

h1.title {
  font: bold 45px/1.5 "Open Sans", sans-serif;
  color: #913fa1; }

ul {
  list-style: none; }
  ul li {
    padding: 18px;
    display: inline-block;
    color: #913fa1; }
    ul li:hover {
      color: #e68d55; }
    ul li a {
      text-decoration: none;
      font-size: 50px;
      color: #4ccfbe; }

.box_uno {
  background-color: #4ccfbe;
  width: width= "890px"; }

.box_movil {
  background-color: #913fa1;
  width: width= "540px"; }
