*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1.title {
    font: $title-font;
    color: $uva;
}


ul{
    list-style: none;
    li{
        padding: 18px;
        display: inline-block;
        color:$uva;
        &:hover{
            color:$naranja;
        }
        a{
            text-decoration: none;
            font-size: 50px;
            color: $turquesa;
        }
    }
}
